 #d1 {background: green;
	width: 70px;
	height: 20px;
	position: relative;
	padding: 5px;
     }
 #d2 {background: yellow;
	width: 70px;
	height: 20px;
	position: relative;
	padding: 5px;
     }
 #d3 {background: red;
	width: 70px;
	height: 20px;
	position: relative;
	padding: 5px;
     }
#d5 {background: green;
	width: 70px;
	height: 20px;
	position: relative;
	padding: 15px;
     }
#d6 {style="color: red;"}
h1 {
    text-align: left;
    color: rgb(99, 43, 4);
    margin-left: 5px;
}
h2 {
    text-align: left;
    color: rgb(238, 73, 128);
    margin-left: 20px;
}
p {
    text-align: left;
    color: red;
    margin-left: 0px;
}
